@model ELibrary.Domain.Models.Cart
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<div class="container">
    @if (Model.BooksInCart.Count() == 0)
    {
        <h5>Your cart is empty</h5>
    }
    else
    {
        <div class="row">
            <form asp-controller="Cart" asp-action="RentNow" method="post">
                @if ((int)ViewData["BooksLeft"] != -1 && (int)ViewData["BooksLeft"] < Model.BooksInCart.Where(i => !((IEnumerable<int>)ViewData["BooksRented"]).Contains(i.BookId)).Count())
                {
                    <input type="submit" value="Rent Now!" class="btn btn-success" disabled />
                }
                else
                {
                    <input type="submit" value="Rent Now!" class="btn btn-success" />
                }
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Book
                    </th>
                    <th>
                        Author
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @{
                int i = 1;
                foreach (ELibrary.Domain.Models.BooksInCart item in Model.BooksInCart)
                {
                    <tr>
                        <td>@(i++)</td>
                        @if (((IEnumerable<int>)ViewData["BooksRented"]).Contains(item.BookId))
                        {
                            <td>@item.Book.Name *</td>
                        }
                        else
                        {
                            <td>@item.Book.Name</td>
                        }
                        <td>@string.Join(", ", item.Book.Authors.Select(a => a.Author.FullName()))</td>
                        <td>
                            <form asp-action="RemoveFromCart" asp-route-id="@item.Id">
                                <input type="submit" value="Remove" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
    @if ((int)ViewData["BooksLeft"] != -1)
    { 
        <h4>Number of books you can rent: @((int)ViewData["BooksLeft"] == -1 ? "unlimited" : ViewData["BooksLeft"]). <a asp-controller="User" asp-action="Status">Upgrade subscription plan to increase limit.</a></h4>
    }
    else
    { 
        <h4>Number of books you can rent: @((int)ViewData["BooksLeft"] == -1 ? "unlimited" : ViewData["BooksLeft"]).</h4>
    }
</div>