@model ELibrary.Domain.Models.Cart
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<div class="container">
    @if (Model.BooksInCart.Count() == 0)
    {
        <h5>Your cart is empty</h5>
    }
    else
    {
        <div class="row">
            <form asp-controller="Cart" asp-action="RentNow" method="post">
                <input type="submit" value="Rent Now!" class="btn btn-success" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Book
                    </th>
                    <th>
                        Author
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (ELibrary.Domain.Models.BooksInCart item in Model.BooksInCart)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@item.Book.Name</td>
                            <td>@item.Book.Author.FullName()</td>
                            <td><a class="btn btn-danger" asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <h4>@ViewData["BooksLeft"]</h4>
</div>