@model IEnumerable<ELibrary.Domain.Models.Rent>
@{
    ViewData["Title"] = "Rented";
}

<h1>Currently Rented</h1>

<div class="container">
    @if (Model.Count() == 0)
    {
        <h5>You don't have books rented right now.</h5>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Categories
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (ELibrary.Domain.Models.Book item in Model.Select(i => i.Book))
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td><a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
                            <td>
                                @foreach(Author author in item.Authors.Select(a => a.Author))
                                {
                                    <a asp-controller="Authors" asp-action="Details" asp-route-id="@author.Id">@author.FullName()</a><br />
                                }
                            </td>
                            <td>@item.Description</td>
                            <td>@item.Categories.Select(i => i.Category.Name).Aggregate((i, j) => i + ", " + j)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <a class="btn btn-primary" asp-action="Export">Export in PDF</a>
    <a asp-action="AllRents">Back to rents</a>
</div>