@model ELibrary.Domain.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control" />
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label>
                <select asp-for="Authors" id="CategoriesInBook" name="Authors" size="4" multiple required>
                    @foreach (Author author in ViewBag.authors)
                    {
                        if (Model.Authors.Select(i => i.AuthorId).Contains(author.Id))
                        {
                            <option value="@author.Id" selected>@author.FullName()</option>
                        }
                        else
                        {
                            <option value="@author.Id">@author.FullName()</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" id="CategoriesInBook" name="Categories" size="4" multiple required>
                    @foreach (Category category in ViewBag.categories)
                    {
                        if (Model.Categories.Select(i => i.CategoryId).Contains(category.Id))
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <select asp-for="Publisher" id="CategoriesInBook" name="Publisher" required>
                    @foreach (Publisher publisher in ViewBag.publishers)
                    {
                        if (Model.PublisherId == publisher.Id)
                        {
                            <option value="@publisher.Id" selected>@publisher.Name</option>
                        }
                        else
                        {
                            <option value="@publisher.Id">@publisher.Name</option>
                        }
                    }
                </select>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
