@model IEnumerable<ELibrary.Domain.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="col">
        <select name="category" class="form-control" asp-items="ViewBag.categories"></select>
    </div>
    <div class="col">
        <input type="submit" value="Search" class="btn btn-light" />
    </div>
</form>
<h4>@ViewData["BooksLeft"]</h4>
<div class="row">
    @foreach (Book book in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@book.Image" />
                <div class="card-body">
                    <h5 class="card-title">@book.Name</h5>
                    <p class="card-text">@book.Description</p>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                    <form asp-action="AddToCart" asp-route-id="@book.Id">
                        <input type="submit" value="Add To Cart" class="btn btn-primary" />
                    </form>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
@if (User.IsInRole("Admin"))
{
    <form asp-action="Export" method="get">
        <div class="form-group">
            <label class="control-label">Category:</label>
            <select id="category" name="category">
                <option value="All" selected>All</option>
                @foreach (string category in ELibrary.Domain.Models.Book.BookCategories)
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Export books" class="btn btn-primary" />
        </div>
    </form>
}