@model IEnumerable<ELibrary.Domain.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="col">
        <select name="categoryId" class="form-control">
            @if (ViewBag.chosenCategoryId == 0)
            {
                <option value="0" selected>All</option>
            }
            else
            {
                <option value="0">All</option>
            }
            @foreach (Category category in ViewBag.categories)
            {
                if (category.Id == ViewBag.chosenCategoryId)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
    </div>
    <div class="col">
        <input type="submit" value="Search" class="btn btn-light" />
    </div>
</form>
<h4>@ViewData["BooksLeft"]</h4>
<div class="row">
    @foreach (Book book in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@book.ImageLink" />
                <div class="card-body">
                    <h5 class="card-title">@book.Name</h5>
                    <p class="card-text">@string.Join(", ", book.Categories.Select(b => b.Category.Name))</p>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                    <form asp-action="AddToCart" asp-route-id="@book.Id">
                        <input type="submit" value="Add To Cart" class="btn btn-primary" />
                    </form>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
@if (User.IsInRole("Admin"))
{
    <form asp-action="Export" method="get">
        <div class="form-group">
            <label class="control-label">Category:</label>
            <select id="categoryId" name="categoryId">
                <option value="0" selected>All</option>
                @foreach (Category category in ViewBag.categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Export books" class="btn btn-primary" />
        </div>
    </form>
}