@using Microsoft.Extensions.Options
@model IQueryable<ELibrary.Domain.Identity.ELibraryRole>
@inject IOptions<ELibrary.Domain.StripeSettings> Stripe
@{
    ViewData["Title"] = "User Status";
}

<h1>User Status</h1>

<div class="container">
    @if (ViewBag.UserRole != "Admin")
    {
        <p class="h4">Your account status is <u>@ViewBag.UserRole</u>. Would you like to change your account status and the monthly book limit?</p>
        @foreach (ELibrary.Domain.Identity.ELibraryRole role in Model)
        {
            <hr />
            <div>
                <p>@role.Name - @role.Price.ToString("N2")</p>
                <form asp-controller="User" asp-action="UpgradeStatus" method="post" asp-route-role="@role.Name">
                    <button class="btn btn-light" type="submit">Change</button>
                </form>
            </div>
        }
    }
    else
    { 
        <p class="h4">Your account status is <u>@ViewBag.UserRole</u>.</p>
    }
</div>

